<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellfun.demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="idrAppId"
            android:value="yf645309714" />
        <meta-data
            android:name="idrAppKey"
            android:value="Y4rSCI27NF3t7Ru76KNq60PQIjgP06L4" />

        <activity android:name=".ui.SectionHomeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BaseActionbarActivity" />
        <activity android:name=".ui.map.MapLoadDefaultActivity" />
        <activity android:name=".ui.map.MapLoadSwitcherActivity" />
        <activity android:name=".ui.map.MapLoadCustomActivity" />
        <activity android:name=".ui.SectionMapListActivity" />
        <activity android:name=".ui.SectionLocationListActivity" />
        <activity android:name=".ui.SectionNaviListActivity" />
        <activity android:name=".ui.location.LocationIdrActivity" />
        <activity android:name=".ui.location.LocationStandActivity" />
        <activity android:name=".ui.navigate.NaviStaticActivity" />
        <activity android:name=".ui.navigate.NaviDynamicActivity" />
        <activity android:name=".ui.map.MapLoadClickMapActivity" />
        <activity android:name=".ui.map.MapLoadClickUnitActivity" />
        <activity android:name=".ui.map.MapLoadClickMarkerActivity" />
        <activity android:name=".ui.map.MapLoadUIActivity" />
    </application>

</manifest>